@charset "utf-8";

/* Image Slide */
* {
	margin: 0;
	padding: 0;
	border-width: 0;
	/* background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

#img {
	list-style: none;
	float: left;
	width: 80px;
	background-image: unset;
}

h1 {
	text-align: center;
	background-color: red;
}

/*가로 : 260+40+2+   */
#banner_wrap {
	width: 260px;
	padding: 10px 20px;
	margin: 0 auto;
	border: 1px solid #aaa;
	background-image: unset;
}

#banner {
	width: 640px;
	height: 40px;
	background-image: unset;
}

#frame {
	width: 232px;
	height: 54px;
	overflow: hidden;
	position: relative;
	margin: 10px auto;
	background-image: unset;
}

p {
	clear: both;
	text-align: center;
	background-image: unset;
}

/* Image Slide end */

#list {
	text-align: left;
	margin-left: 300px;
}

/* video start */
#video {
	display: flex;
	justify-content: center;
}

#video>#videos {
	display: block;
	margin: 0;
	border: 5px solid darkblue;
	height: 150px;
	width: 200px;
}

/* video end */

/* Buttons Start */
#buttonList{
	display: flex;
	justify-content: center;
}
button {
	display: block;
	width: 100px;
	height: 50px;
	background-color: red;
	box-shadow: 3px 3px 3px black;
	transition-duration: 0.3s;
	margin: 50px;
	border-radius: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

button:active {
	box-shadow: none;
}

/* Buttons End */

table.type11 {
	border-collapse: separate;
	border-spacing: 1px;
	text-align: center;
	line-height: 1.5;
	margin: 20px 10px;
	margin-left: 100px;
  }
  table.type11 th {
	width: 155px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #fff;
	background: #ce4869 ;
  }
  table.type11 td {
	width: 155px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #eee;
  }